1. What are data structures, and why are they important
    >> Data Structure are structures that helps us store and manage data
    some python data structure:-
    1.List
    2.Tuple etc
    it is important as it helps in storing sorting and making it easie to read

2. Explain the difference between mutable and immutable data types with examples.
    >> Mutable data types are  those data types which can be modified afterwards
    for eg:-List is a mutable data structure
    if we define a list for eg:-
    list = ['Mango','Apple',]
    if we print it will give mango and apple so if we want to remove mango then we can remove it by
    list[0] = 'brinjal'
    and the new output will contain brinjal and apple

    >> Immutable data types are those data types which cannot be changed/modified
    for eg:-String is an immutable data type even if we perform the changing operation it will give an error

3. What are the main differences between lists and tuples in Python
    >>The main difference between list and tuple is that list is mutable and tuple is immutable

4.  Describe how dictionaries store data
    >>Dictionaries store data in the form of keys and values
    for eg:- Dict = {'Roll No':033}

5.  Why might you use a set instead of a list in Python
    >>We might use a set instead of list in python because set doesnt let allow same element twice it makes uniqueness    

6.  What is a string in Python, and how is it different from a list
    >>String is a data structure in python used to store charachter in double quotes.                 String is different than List because string is immutable wheras list are mutable

7.  How do tuples ensure data integrity in Python
    >>As we know tuples are immutable so it ensures data integrity as no modifications can be done

8.  What is a hash table, and how does it relate to dictionaries in Python
    >>A Hash table is a Data Structure that stores value in key and value pairs and in dictionary also we store value using key:value form so this is how it is related dictionaries in python uses hash function

9.  Can lists contain different data types in Python
    >>Yes it can contain tuples,dictionary,strings    

10.  Explain why strings are immutable in Python
    >>Strings are immutable in python so that the data that is stored is constant

11. What advantages do dictionaries offer over lists for certain tasks
    >>it is easier to find element in dictionaries rather in list

12.  Describe a scenario where using a tuple would be preferable over a list
    >>We can take a scenario that if we store a data and pass it to some other person and if he changes it then there can be a big problem and we know that List is mutable so it can be changed but Tuple is immutable and it cannot be changed so in this scenario we prefer tuple over list

13.  How do sets handle duplicate values in Python
    >>Sets handle duplicate values in python by removing the duplicate and ignoring duplicate  values and helping in making it unique
    for eg: set = {1,2,3,4,4,10}
    we will get the value {1,2,3,4,10}
    the duplicate value 4 will be removed

14.  How does the “in” keyword work differently for lists and dictionaries
    >>Lets take an example for List
    for eg:- list = ['ajay','ahmed']
    now if we want to check if some value is present in the list or not
    if we search....rahul in list it will give you false and if ahmed in list it will give true but as for dictionaries it only checks for the key part for eg:- name = {'ali':33,'vijay':'35'} we can search only for key values ali in name it will give true but 33 in name will give error

15.  Can you modify the elements of a tuple? Explain why or why not
    >>No we cannot modify the elements of tuple because tuple is immutable  so that consistency is maintained in data

16.  What is a nested dictionary, and give an example of its use case
    >>When a dictionary consist of more dictionary within itself then it is known as nested dictionary
    use case suppose we are storing details about faculty for eg:-
    faculty = {'1002': {'name': 'Harish', 'dept': 'oopj'},
    '1003': {'name': 'Srikant', 'dept': 'Maths'} so to store these it is used

17.  Describe the time complexity of accessing elements in a dictionary  
    >>it has O(1) Time complexity as it uses hash function  

18.  In what situations are lists preferred over dictionaries    
    >>When you want output just by index and want simple data in those situation lists are preffered over dictionaries

19. Why are dictionaries considered unordered, and how does that affect data retrieval
    >>Dictionaries are considered unordered beacause they cant give you acces through index because it is not stored in a specific order and it leads to data retreival because you cant acess the data through indexing

20.  Explain the difference between a list and a dictionary in terms of data retrieval.
    >>In list you can acess the data just acessing it through the index   . But for dictionary you have to acess elements only through key

In [1]:
#Write a code to create a string with your name and print it
string = 'Syed'
print(string)

Syed

In [2]:
# Write a code to find the length of the string "Hello World"
s = 'hello world'
print(len(s))

11

In [5]:
# Write a code to slice the first 3 characters from the string "Python Programming"
s = 'Python Programming'
print(s[0:3])

Pyt

In [7]:
#Write a code to convert the string "hello" to uppercase
s = 'hello world'
print(s.upper())

HELLO WORLD

In [12]:
# Write a code to replace the word "apple" with "orange" in the string "I like apple"
s = 'I like apple'
s = s.replace('apple','orange')
print(s)

I like orange

In [13]:
#Write a code to create a list with numbers 1 to 5 and print it
l = [1,2,3,4,5]
print(l)

[1, 2, 3, 4, 5]

In [15]:
# Write a code to append the number 10 to the list [1, 2, 3, 4]
l = [1,2,3,4]
l.append(10)
print(l)

[1, 2, 3, 4, 10]

In [16]:
# Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
l = [1,2,3,4,5]
l.remove(3)
print(l)

[1, 2, 4, 5]

In [17]:
# Write a code to access the second element in the list ['a', 'b', 'c', 'd']
l = ['a','b','c','d']
l[1]

'b'

In [20]:
#  Write a code to reverse the list [10, 20, 30, 40, 50].
l = [10,20,30,40,50]
l[::-1]

[50, 40, 30, 20, 10]

In [21]:
# Write a code to create a tuple with the elements 100, 200, 300 and print it
t = (100,200,300)
print(t)

(100, 200, 300)

In [24]:
#. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
t = ('red','green','blue','yellow')
t[-2]

'blue'

In [27]:
#. Write a code to find the minimum number in the tuple (10, 20, 5, 15)
t = (10,20,5,15)
min(t)

5

In [28]:
#. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
t = ('dog','cat','rabbit')
t.index('cat')

1

In [29]:
#. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it
t = ('mango','apple','banana')
'kiwi' in t

False

In [31]:
#. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
s = {'a','b','c'}
print(s)

{'b', 'a', 'c'}

In [35]:
#. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
s = {1,2,3,4,5}
s.clear()
print(s)

set()

In [36]:
#. Write a code to remove the element 4 from the set {1, 2, 3, 4}
s = {1,2,3,4}
s.remove(4)
print(s)

{1, 2, 3}

In [40]:
# Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
s1 = {1,2,3}
s2 = {3,4,5}
s3 = s1 | s2
print(s3)

{1, 2, 3, 4, 5}

In [41]:
# Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
s1 = {1,2,3}
s2 = {2,3,4}
s3 = s1 and s2
print(s3)

{2, 3, 4}

In [42]:
#. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dict = {'name':'Syed','age':20,'city':'hyderabad'}
print(dict)

{'name': 'Syed', 'age': 20, 'city': 'hyderabad'}

In [44]:
#. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
dict = {'name':'john','age':25}
dict['country'] = 'USA'
dict

{'name': 'john', 'age': 25, 'country': 'USA'}

In [45]:
# Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
t = {'name':'alice','city':'paris'}
t['name']

'alice'

In [49]:
#  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
t = {'name':'bob','age':22,'city':'new york'}
del t['age']
t

{'name': 'bob', 'city': 'new york'}

In [50]:
# Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
t = {'name':'alice','city':'paris'}
'city' in t

True

In [52]:
#. Write a code to create a list, a tuple, and a dictionary, and print them
dict = {'name':'syed','rollno':23}
tup = (1,2,3)
list = [1,2,3]
print(dict)
print(tup)
print(list)

{'name': 'syed', 'rollno': 23}
(1, 2, 3)
[1, 2, 3]

In [53]:
#. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
#result.(replaced)
list = [67,35,46,32,10]
list.sort()
list

[10, 32, 35, 46, 67]

In [54]:
#. Write a code to create a list with strings and print the element at the third index.
l = ['arnav','riya','syed','ahmed']
l[2]

'syed'

In [55]:
# Write a code to combine two dictionaries into one and print the result.
d1 = {'name':'syed'}
d2 = {'rollno':23}
d3 = d1 | d2
d3

{'name': 'syed', 'rollno': 23}

In [56]:
# Write a code to convert a list of strings into a set
l = ['apple','mango','brinjal']
set(l)

{'apple', 'brinjal', 'mango'}